/* FormStyles.css */

.form-container {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

h1 {
    margin-bottom: 25px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

form {
    background: linear-gradient(135deg, #ececec, #ffffff);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"], 
input[type="password"],
input[type="email"] {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

button {
    padding: 15px 20px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}
select {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}

a {
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
